#contact_modal {
    display: none;
}

.photograph-header {
    display: flex;
    justify-content: space-around;
    align-items: center;

    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
}

.photograph-header .informations_photographe {
    width: 33%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.photograph-header .informations_photographe > * {
    margin: 0;
}

.photograph-header .informations_photographe h2{
    color: #D3573C;
    font-size: 64px;
    font-weight: 400;
}

.photograph-header .informations_photographe h3{
    color: #901C1C;
    font-size: 24px;
    font-weight: 400;
}

.photograph-header .informations_photographe blockquote{
    color: #000000;
    font-size: 24px;
    font-weight: 400;
}

.photograph-header .contact_header {
    width: 170px;
    height: 69px;
}

.photograph-header img {
	height: 200px;
	width: 200px;
	border-radius: 50%;
	object-fit: cover;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}

nav{
    display: inline-flex;
    margin: 20px 100px 10px 100px;
}

nav p {
    margin: 0;
}

nav ul{
    padding-left: 30px;
    margin: 0 0 30px 0;
}

nav ul li{
    list-style-type: none;
}

.dropdownHidden{
    display: none;
}
.dropdownBtn:hover ~ .dropdownHidden{
    display: block;
}

.porfolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;

}
.vignette {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.vignette .vignette_img {
    height: 300px;
    object-fit: cover;
}

.vignette video {
    height: 300px;
    object-fit: cover;
}

.vignette .vignette_information {
    display: flex;
}

.vignette .vignette_information .nombre_like::after {
    font-family: "Font Awesome 5 Free";
    content: "/f004"
}
.vignette p {
    margin: 0;
    color: #901C1C;
}